<h1>Hi <%= current_user.name %></h1>
<p class="xl">Welcome to Olivier's wedding Easter Egg hunt</p>
<p>Your challenge, shall you accept it, is to find as many as you can of the Easter eggs below.
  You can check the rules <%= link_to "here", rules_path %>.</p>
<p class="text-lg">You currently have <%= current_user.points %> points</p>
<hr>
<table data-controller="tooltips">
  <% @eggs.each do |egg| %>
    <tr>
      <td><%= link_to egg.input, egg %></td>
      <td>
        <% if @answers[egg.id] %>
          <i data-tooltips-target="tooltip" data-position="top" data-tooltip="<%= @answers[egg.id].status.capitalize %>" class="fa <%= answer_icon(@answers[egg.id]) %>"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
